In [1]:
import pandas as pd

In [4]:
file_path = "wages/national_M2021_dl.csv"
wages_df = pd.read_csv(file_path)
wages_df

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,22.00,32.98,49.43,"23,980","29,950","45,760","68,590","102,810",NaN,NaN
1,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,49.25,77.39,#,"47,860","74,710","102,450","160,960",#,NaN,NaN
2,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1000,Top Executives,...,47.46,77.18,#,"41,260","60,900","98,720","160,540",#,NaN,NaN
3,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1010,Chief Executives,...,86.31,#,#,"60,300","111,080","179,520",#,#,NaN,NaN
4,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,86.31,#,#,"60,300","111,080","179,520",#,#,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1398,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,53-7081,Refuse and Recyclable Material Collectors,...,18.51,23.50,29.96,"24,950","30,270","38,500","48,870","62,310",NaN,NaN
1399,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,53-7120,"Tank Car, Truck, and Ship Loaders",...,23.75,37.31,38.39,"33,090","38,570","49,390","77,610","79,860",NaN,NaN
1400,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,53-7121,"Tank Car, Truck, and Ship Loaders",...,23.75,37.31,38.39,"33,090","38,570","49,390","77,610","79,860",NaN,NaN
1401,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,53-7190,Miscellaneous Material Moving Workers,...,17.38,22.78,29.24,"28,450","29,960","36,150","47,380","60,830",NaN,NaN
1402,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,17.38,22.78,29.24,"28,450","29,960","36,150","47,380","60,830",NaN,NaN

In [19]:
print(wages_df["OCC_TITLE"].count)

<bound method Series.count of 0                                 All Occupations
1                          Management Occupations
2                                  Top Executives
3                                Chief Executives
4                                Chief Executives
                          ...
1398    Refuse and Recyclable Material Collectors
1399            Tank Car, Truck, and Ship Loaders
1400            Tank Car, Truck, and Ship Loaders
1401        Miscellaneous Material Moving Workers
1402           Material Moving Workers, All Other
Name: OCC_TITLE, Length: 1403, dtype: object>

In [20]:
wages_df.dtypes

AREA              int64
AREA_TITLE       object
AREA_TYPE         int64
PRIM_STATE       object
NAICS             int64
NAICS_TITLE      object
I_GROUP          object
OWN_CODE          int64
OCC_CODE         object
OCC_TITLE        object
O_GROUP          object
TOT_EMP          object
EMP_PRSE        float64
JOBS_1000       float64
LOC_QUOTIENT    float64
PCT_TOTAL       float64
PCT_RPT         float64
H_MEAN           object
A_MEAN           object
MEAN_PRSE        object
H_PCT10          object
H_PCT25          object
H_MEDIAN         object
H_PCT75          object
H_PCT90          object
A_PCT10          object
A_PCT25          object
A_MEDIAN         object
A_PCT75          object
A_PCT90          object
ANNUAL           object
HOURLY           object
dtype: object

In [22]:
print(wages_df["OCC_TITLE"].head(50))

0                                       All Occupations
1                                Management Occupations
2                                        Top Executives
3                                      Chief Executives
4                                      Chief Executives
5                       General and Operations Managers
6                       General and Operations Managers
7                                           Legislators
8                                           Legislators
9     Advertising, Marketing, Promotions, Public Rel...
10                  Advertising and Promotions Managers
11                  Advertising and Promotions Managers
12                         Marketing and Sales Managers
13                                   Marketing Managers
14                                       Sales Managers
15            Public Relations and Fundraising Managers
16                            Public Relations Managers
17                                 Fundraising Managers
18                      Operations Specialties Managers
19      Administrative Services and Facilities Managers
20                     Administrative Services Managers
21                                  Facilities Managers
22            Computer and Information Systems Managers
23            Computer and Information Systems Managers
24                                   Financial Managers
25                                   Financial Managers
26                       Industrial Production Managers
27                       Industrial Production Managers
28                                  Purchasing Managers
29                                  Purchasing Managers
30    Transportation, Storage, and Distribution Mana...
31    Transportation, Storage, and Distribution Mana...
32                   Compensation and Benefits Managers
33                   Compensation and Benefits Managers
34                             Human Resources Managers
35                             Human Resources Managers
36                    Training and Development Managers
37                    Training and Development Managers
38                         Other Management Occupations
39    Farmers, Ranchers, and Other Agricultural Mana...
40    Farmers, Ranchers, and Other Agricultural Mana...
41                                Construction Managers
42                                Construction Managers
43               Education and Childcare Administrators
44    Education and Childcare Administrators, Presch...
45    Education Administrators, Kindergarten through...
46              Education Administrators, Postsecondary
47                  Education Administrators, All Other
48               Architectural and Engineering Managers
49               Architectural and Engineering Managers
Name: OCC_TITLE, dtype: object

In [23]:
print(wages_df["OCC_TITLE"].tail(50))

1353                            Sailors and Marine Oilers
1354                            Sailors and Marine Oilers
1355                 Ship and Boat Captains and Operators
1356         Captains, Mates, and Pilots of Water Vessels
1357                                  Motorboat Operators
1358                                       Ship Engineers
1359                                       Ship Engineers
1360                         Other Transportation Workers
1361                              Bridge and Lock Tenders
1362                              Bridge and Lock Tenders
1363                                   Parking Attendants
1364                                   Parking Attendants
1365                    Transportation Service Attendants
1366         Automotive and Watercraft Service Attendants
1367                          Aircraft Service Attendants
1368                                  Traffic Technicians
1369                                  Traffic Technicians
1370                            Transportation Inspectors
1371                            Transportation Inspectors
1372                                 Passenger Attendants
1373                                 Passenger Attendants
1374                 Miscellaneous Transportation Workers
1375                    Transportation Workers, All Other
1376                              Material Moving Workers
1377                       Conveyor Operators and Tenders
1378                       Conveyor Operators and Tenders
1379                            Crane and Tower Operators
1380                            Crane and Tower Operators
1381                                     Dredge Operators
1382                                     Dredge Operators
1383                            Hoist and Winch Operators
1384                            Hoist and Winch Operators
1385               Industrial Truck and Tractor Operators
1386               Industrial Truck and Tractor Operators
1387                         Laborers and Material Movers
1388                   Cleaners of Vehicles and Equipment
1389    Laborers and Freight, Stock, and Material Move...
1390                       Machine Feeders and Offbearers
1391                          Packers and Packagers, Hand
1392                           Stockers and Order Fillers
1393                            Pumping Station Operators
1394     Gas Compressor and Gas Pumping Station Operators
1395              Pump Operators, Except Wellhead Pumpers
1396                                     Wellhead Pumpers
1397            Refuse and Recyclable Material Collectors
1398            Refuse and Recyclable Material Collectors
1399                    Tank Car, Truck, and Ship Loaders
1400                    Tank Car, Truck, and Ship Loaders
1401                Miscellaneous Material Moving Workers
1402                   Material Moving Workers, All Other
Name: OCC_TITLE, dtype: object